<div class="container mt-5">
  <a href="/" class="btn btn-outline-primary mt-2"> Add Book </a>
  <h2 class="mb-4">Book List</h2>
  <table class="table table-striped">
    <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>Published Year</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.description }}</td>
        <td>{{ book.publishedYear }}</td>
        <td>
          <button class="btn btn-warning me-2" (click)="editBook(book.id)">
            Edit
          </button>
          <button class="btn btn-danger" (click)="deleteBook(book.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
